<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
	<display-name>license-analyzer</display-name>
	
	<listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

	<filter>
		<filter-name>DoAsFilter</filter-name>
		<filter-class>com.polarion.portal.tomcat.servlets.DoAsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>DoAsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			com.garantis.polarion.extension.license.analyzer.config.AppConfig
		</param-value>
	</context-param>

	<servlet>
		<servlet-name>license-analyzer-rest</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		
		<init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.garantis.polarion.extension.license.analyzer.rest.LicenseAnalyzerApplication</param-value>
        </init-param>
        
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>license-analyzer-rest</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>All</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
            <role-name>user</role-name>
        </auth-constraint>
	</security-constraint>
	
	<security-constraint>
        <web-resource-collection>
            <web-resource-name>All</web-resource-name>
            <url-pattern>/rest/api/*</url-pattern>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>

  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>PolarionRealm</realm-name>
  </login-config>

</web-app>
